# MariaDB / MySQL Configuration
DB_HOST=loyal.jagoanhosting.id
DB_PORT=3306
DB_USER=clipdrop_root
DB_PASS=asdqwe123asdqwe123
DB_NAME=clipdrop_cinembrot

# Scraper Settings
SCRAPER_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36
SCRAPER_MAX_CONCURRENCY=2
SCRAPER_DELAY_MS=1500
SCRAPER_TIMEOUT_SEC=30

# Metadata REST API Settings (dari rickylawson/freekeys pool)
TMDB_API_KEY=fb7bb23f03b6994dafc674c074d01761
TMDB_LANGUAGE=id-ID
OMDB_API_KEY=4b447405
